@import './colors';

.lyrico-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: lyrico-color('text-color');
    color: lyrico-color('white-color');
    padding: 20px;

    a {
        color: lyrico-color('white-color');
        text-decoration: none;
        font-size: 15px;
    }
}

.lyrico-footer-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
}