.latest-post-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ebe9e9;
    text-transform: capitalize;

    & .latest-post-album {
        padding-top: 10px;
        color: blue;
    }
}