/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .lyrico-card-container {
    &:hover {
      box-shadow: 1px 2px 5px #795548;
      transform: scale(1.07);
    }
  }

  .lyrico-typesongs-container {
    display: block !important;
  }

  .lyrico-sidebar {
    margin: 0 !important;
  }

  .lyrico-song-album-art {
    width: 400px;
  }

  .lyrico-home-icon {
    display: none !important;
  }

  .lyrico-card-container {
    & .card {
      min-width: 200px;
      max-width: 200px;
    }

    & .card-image-top {
      min-height: 250px !important;
      max-height: 150px !important;
    }
  }

  .lyrico-home-page-container {
    width: 50% !important;
  }

  .lyrico-footer-container {
    flex-direction: row !important;
  }

  footer {
    position: relative !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .lyrico-song-album-art {
    width: 400px;
  }

  .lyrico-typesongs-container {
    display: block !important;
  }

  .lyrico-sidebar {
    margin: 0 !important;
  }
  .lyrico-home-icon {
    display: none !important;
  }

  .lyrico-card-container .card {
    min-width: 200px;
    max-width: 200px;
  }

  .lyrico-home-page-container {
    width: 50% !important;
  }

  .lyrico-footer-container {
    flex-direction: row !important;
  }

  footer {
    position: relative !important;
  }
}
