@media only screen and (min-width: 768px) {

    .lyrico-song-director-details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .lyrico-typesongs-container {
        display: block !important;
    }

    .lyrico-home-icon {
        display: none !important;
    }
    
    .lyrico-home-page-container { 
        width: 50% !important;  
    }
    
    .lyrico-footer-container { 
        flex-direction: row !important;
    }

    .lyrico-sidebar {
        margin: 0 !important;
    }
}