@media print {
    .lyrico-home-page-container,
    .lyrico-album-art,
    .lyrico-share-icons-wrapper,
    .lyrico-info-container,
    .lyrico-select-lyric-line,
    .lyrico-status-image-container,
    .lyrico-related-songs,
    .lyrico-song-info-container {
        display: none !important;
    }

    .lyrico-lyrics-wrapper {
        text-align: left !important;
    }

    .lyrico-home-text {
        font-size: 45px !important;
        color: black !important;
    }
}