@use "sass:map";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./latestposts";
@import "./songs-page.scss";
@import "./lyrico-desktop";
@import "./lyrico-tablet";
@import "./colors";
@import "./songInfo";
@import "./print-screen";
@import "./footer";
@import "./scrollbar";

body {
  letter-spacing: 0.5px;
  background-color: lyrico-color("background-light");
  color: lyrico-color("text-color");
}

a {
  text-decoration: none !important;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}

.lyrico-select-lyric-line {
  float: right;
  height: 20px;
  width: 15px;
  display: none;
}

.lyrico-info-container {
  box-shadow: 0.5px 0.5px 4px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  color: gray;
}

.lyrico-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #c7c1c1;
  color: #6b6a6a;
}

.lyrico-show-info-btn {
  margin-bottom: 20px;
}

.lyrico-info-header .material-icons {
  color: #424040;
  cursor: pointer;
}

.lyrico-file-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.lyrico-hide {
  display: none;
}

.lyrico-tour-close-btn {
  letter-spacing: 0.5px;
}

.lyrico-cutom-file-input {
  min-width: 135px;
  letter-spacing: 0.5px;
}

.lyrico-share-icons-wrapper {
  display: flex;
  align-items: baseline;
}

.lyrico-selected-file {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}

.lyrico-status-image-wrapper {
  border-right: 10px solid gray;
}

.lyrico-download-statu-image {
  color: #007bff !important;
  float: right;
  cursor: pointer;
}

// .lyrico-status-image-wrapper:before {
//     content: "#";
//     position: absolute;
//     right: 10px;
//     border: 1px solid;
//     padding: 10px;
//     border-radius: 10px;
//     color: black;
//     font-weight: bold;
//     cursor: pointer;
//     margin: 10px;
// }
.lyrico-lyrics-title-font {
  display: flex;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 0 auto;
  background: #413f3f2b;
  padding: 5px 10px;
  border-radius: 25px;
}

.lyrico-related-songs {
  border: 1px solid #e9e8e8;
}

.lyrico-song-lyrics-breaker {
  width: 100%;
  display: block;
  padding: 20px;
}

.lyrico-lyrics-wrapper {
  text-transform: capitalize;
  padding: 5px 10px;
}

.lyrico-related-songs-container {
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}

.home-page-song {
  margin: 20px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 740px) {
    flex-direction: row;
  }

  .title-ruler {
    width: 60%;
    height: 0;
    border-bottom: 2px solid black;
    align-items: center;
  }

  .lang-title {
    padding: 20px;
    padding-bottom: 10px;
  }
}

.badge-lyrico {
  background-color: lyrico-color("text-color");
}

.wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px grey;
  border-radius: 10px;
  min-width: 330px;
  max-width: 330px;
  background: lyrico-color("primary");

  .lyrico-artists {
    color: lyrico-color("text-color");
    font-size: 18px;
    padding: 15px;

    h5 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: lyrico-color("white-color");
    }
  }
}

main {
  padding: 15px;
}

.img-container {
  margin-bottom: 10px;

  img {
    border-radius: 10px 10px 0 0;
  }
}

.lyrico-song-artists-details {
  text-transform: capitalize;
  color: black;
}

pre {
  white-space: pre-line;
}

.lyrico-song-lyrics-details>div {
  padding: 0 !important;
}

footer {
  height: 40px;
  width: 100%;
  margin-top: 50px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.lyrico-back-to-album {
  padding-right: 4px;
}

.lyrico-song-artist-badge {
  margin-right: 5px;
}

.lyrico-song-lyrics {
  padding: 25px;
  box-shadow: 0 0 2px 0px grey;
  margin-right: 10px;
  border-radius: 10px;
}

.lyrico-sidebar {
  margin: 10px 0;
  padding: 0;
}

.lyrico-social-share-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;

  button {
    margin-right: 15px;
    cursor: pointer;
  }
}

.lyrico-footer-disclaimer-wrapper {
  margin-top: 35px;
}

.lyrico-related-songs-title {
  background-color: lyrico-color("text-color");
  padding: 10px;
  color: lyrico-color("white-color");
  text-transform: uppercase;
  font-weight: 500;
}

.lyrico-recents-container {
  border: 1px solid lyrico-color("background-dark");
}

.lyrico-albums-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lyrico-song-artist-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  padding-left: 0;
}

.lyrico-typesongs-container {
  border: 1px solid #ebe9e9;
  display: none;
}

.year-btn {
  margin: 10px;
  color: lyrico-color("text-color");
  border-color: lyrico-color("text-color");

  &:hover {
    color: lyrico-color("primary");
    border-color: lyrico-color("text-color");
    background-color: lyrico-color("text-color");
  }
}

.load-more-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .load-more-songs {
    text-transform: capitalize;
    font-size: 22px;
  }

  & sup {
    font-size: 35px;
  }
}

span.song-count {
  font-size: 100px;
}

.load-more-browser {
  margin: 20px;
  background-color: lyrico-color("text-color");
  color: lyrico-color("white-color");
  min-width: 330px;
  max-width: 330px;
  border-radius: 10px;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.home-songs-list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.yearslist {
  padding: 20px;
  background-color: lyrico-color("primary");
  box-shadow: 0 0 2px gray;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.lyrico-show-recents-header {
  text-align: center;
  font-weight: 600;
  color: lyrico-color("white-color");
  background-color: lyrico-color("text-color");
  text-transform: uppercase;
  padding: 10px;
}

.lyrico-margin-left-10 {
  margin-left: 10px;
}

.carousel-caption h3 {
  font-size: 18px;
}

.lyrico-song-details {
  display: flex;
  flex-direction: column;
}

span.lyrico-song-artist-label {
  margin: 10px;
  width: 150px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 17px;
}

@media (min-width: 1024px) {
  .lyrico-carousel-container {
    width: 600px;
    margin: 0 auto;
  }
}

.main_header {
  padding: 5px;
}

.lyrico-home-text {
  font-size: 50px;
  color: lyrico-color("white-color");
  font-weight: 800;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.lyrico-search-image-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lyrico-search-image-wrapper img {
  height: 50px;
  width: 50px;
  margin: 0;
}

input.lyrico-search-box {
  text-transform: capitalize;
  border-radius: 20px;
  padding: 10px;
  background: #ffffff1a;
  height: 34px;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  outline: none;
  color: #fff;
  transition: width 0.5s;
  letter-spacing: 0.3px;
  width: 300px;
  border: 0;
  font-size: 16px;
}

.material-icons {
  color: lyrico-color("text-color");
}

.lyrico-home-icon {
  padding: 5px 2px;
  display: block;
}

.lyrico-home-page-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.lyrico-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  flex-direction: column;
  height: 150px;
  background-color: lyrico-color("text-color");

  & a {
    text-decoration: none;
  }

  .search-area {
    position: relative;
  }

  .search-container {
    position: relative;

    input.search-item {
      width: 80vw;
      outline: none;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #fff;
      padding-right: 50px;
      caret-color: #fff;
      color: #fff;
      padding: 5px;
    }

    .search-icon {
      background-image: url("./../images/search_white_24dp.svg");
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 5px;
    }
  }
}

.search-song-title,
.search-album-title {
  width: 60px;
}

.lyrico-related-songs {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .related-song-list-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    .related-song-info {
      align-self: flex-start;
      margin-left: 20px;
    }

    .related-image-container {
      width: 150px;
    }
  }
}

.lyrico-song-detail-wrapper {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-left: 5px solid lyrico-color("text-color");

  a {
    text-transform: capitalize;
  }

  &:last-child {
    border-bottom: none;
  }
}

.lyrico-capitalize {
  text-transform: capitalize;
}

.nav-tabs {
  border: none;

  .nav-item {
    color: lyrico-color("white-color");
    text-transform: uppercase;

    .nav-link {
      color: #7f5e52bf;

      &.active {
        background-color: transparent !important;
        border-bottom: 2px solid #795548 !important;
      }
    }
  }
}

.lang-search-container {
  padding: 20px;
  text-align: center;
  background-color: lyrico-color("text-color");
  font-size: 30px;
  color: white;
  border-radius: 10px;
  text-transform: capitalize;
}

.search-song-name,
.search-album-name {
  text-transform: capitalize;
  padding-left: 10px;
}

ul.search-wrapper {
  background-color: lyrico-color("text-color");
  position: absolute;
  color: lyrico-color("white-color");
  margin: 10px 0;
  position: absolute;
  list-style: none;
  width: 100%;
  z-index: 10;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  >li {
    margin: 0;
    border-bottom: 1px solid;

    &:last-child {
      border: none;
    }
  }
}

.search-detail-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;

  &.search-song-wrapper {
    padding-top: 0;
  }
}

.lyrico-songpage-details-container {
  justify-content: space-around;
}

.lyrico-google-adds {
  margin: 10px;
}