.lyrico-song-album-art {
    margin: 0 auto;
    width: 300px;
}

.lyrico-song-director-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lyrico-album-art {
    display: flex;
    justify-content: center;
}

.lyrico-artists {
    font-size: 14px;
    margin-right: 10px;
}

.lyrico-song-details-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 20px;

    a {
        text-decoration: none;
        color: #5b5a5a;
        font-size: 16px;
        &:hover {
            text-decoration: none;
            color: #795548;
        }
    }
}